body {
	background-image: url("../images/bgtile.png");
	background-repeat: repeat-x;

}

button {
	background-color: blue;

}

section {


}

footer {

}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

