/*Dark blue: #125698*/

body {
	background-image: url("images/bgtile.png");
	background-repeat: repeat-x;
	margin: 0;
	border: 1px solid transparent;
}

.blue {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
}

.light_gray {
	position:absolute;
	top: 500px;
	left: 0;
	z-index: -1;
	height: 700px;
	width: 100%;
}

.all_the_things {
	z-index: 0;
	max-width: 1000px;
	width: 80%;
	margin: 100px auto;
	border: 1px solid pink;
}

.phones {
	display: inline-block;
	height: 100%;
	width: 40%;
	border: 1px solid blue;
}

.phones img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.content {
	display: inline-block;
	float: right;
	width: 55%;
	margin: 0 0 0 2.5%;
	border: 1px solid orange;
}

.header {
	float: right;
	padding-top: 10px;
	padding-right: 80px;
	border: 1px solid purple;
}

#login {
	float: right;
	padding-left: 33px;
}

button {
	background-color: #125698;
	background-image: url("images/home.png");
	background-repeat: no-repeat;
	font-size: 27px;
	float: right;
	justify-content: space-around;
	margin: 15px 10px 15px 30px;
	color: white;
}

.paragraph {
	border: 1px solid red;
	position: relative;
 	padding: 160px 100px 28px 80px;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 20px;
}

.first {
	font-size: 30px; 
	color: #125698
}

footer {
	width: 100%;
}

ul {
	width: 80%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

a {
	padding-left: 2em;
}

footer nav ul li a {
	text-decoration: none;
	color: #125698;
}

